@font-face {
    font-family: 'Raleway';
    src: local("Raleway"), url("fonts/Raleway-v4013-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

* {
    font-family: 'Raleway';
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.catalog__product_favourites {
    width: 1250px;
    text-align: center;
    margin-bottom: 50px;
}

.catalog__product {
    width: 1250px;
    margin: 0 auto;
}
.catalog__product_card {
    display: flex;
    margin-bottom: 150px;
    justify-content: space-between;

}

.catalog__product_card_title {
    width: 500px;

}

.rectangle_line {
    border: none;
    border-top: 1px solid #d4d4d4;
    margin: 0px auto;
    width: 500px;
    margin-bottom: 30px;
}

.catalog__product_card_composition {
    margin-bottom: 30px;
}
.catalog__product_card_description {
    margin-top: 20px;
}
.catalog__product_card_composition_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
legend {
    margin-bottom: 20px;
}

.content-company {
    width: 1250px;
    margin: 0 auto;
    margin-bottom: 200px;
}

.content-company_heading {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 70px;
}

.content-company__title {
    display: flex;
    margin: 0 100px 80px 0;
    text-align: center;
    justify-content: space-between;
}

.content-company__blog {
    width: 320px;
}

.content-company__img {
    margin-bottom: 50px;
}

@media (max-width: 950px) {
    .catalog__product__img {
        width: 250px;
        height: 250px;
        margin-bottom: 30px;
    }

    .catalog__product {
        width: 700px;
        margin: 0 auto;
    }

    .catalog__product_card_title {
        width: 400px;
    }
    .catalog__product_favourites {
        width: 700px;
    }

    .content-company {
        width: 700px;
        
    }
}

@media (max-width: 450px) {
    .catalog__product__img {
        width: 200px;
        height: 200px;
        margin: -40px 0 40px 70px;
    }

    .catalog__product {
        width: 350px;
        margin: 0 auto;
    }

    .catalog__product_card_title {
        width: 300px;
    }
    .catalog__product_favourites {
        width: 300px;
    }
    
    .catalog__product_card {
        display: block;
    }

    .content-company {
        width: 330px;
        margin-bottom: -150px;
        
    }
    .content-company_heading {
        font-size: 18px;
    }

    .content-company__blog {
        width: 130px;
    }

    .content-blog__tetle {
        font-size: 7px;
    }
    .content-company__img {
        width: 100px;
        height: auto;
    }
}